.px__mwc__carousel {
    position: relative;
    height: 100% !important;
    & .px__mwc__carousel__component{
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        scroll-behavior: smooth;
    }

    & .px__mwc__arrow{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        height: 100%;
        &.px__mwc__arrow--left{
            left: 0;
        }
        &.px__mwc__arrow--right{
            right: 0;
        }
    }
}