.px__mwc__carousel {
    & .px__mwc__carousel__component{      
        scroll-behavior: smooth;
        @media screen and (max-width: 530px) {
             overflow-x: auto !important;
        }
        @media screen and (min-width: 530px) {
           overflow-x: hidden !important;
        }
    }

    & .px__mwc__arrow{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        height: 100%;
        background: #0a0a0a;
        width: 5rem;
        transition: opacity .18s ease-in;
        
        &.px__mwc__arrow--left{
            left: 0;
            opacity: 0.75;
            &:hover {
                opacity: 1;
            }
            &.hidden{
                z-index: 0;
                opacity: 0;
            }
        }
        &.px__mwc__arrow--right{
            right: 0;
            opacity: 0.75;
            &:hover {
                opacity: 1;
            }
            &.hidden{
                z-index: 0;
                opacity: 0;
            }
        }
    }
}